<!DOCTYPE html>
<html lang="en">
<head>
    <title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  </title>
</head>
<%- include('../partials/header') %>
<body id="bookshelf">
<header>
    <nav>
        <div>
            <a href="/books" id="all" class="nav-link"><span class="nav-link-span"><span class="u-nav">Book Shelf</span></span></a>
            <a href="/books/new" id="new" class="nav-link active"><span class="nav-link-span"><span class="u-nav">New Book</span></span></a>
        </div>
    </nav>
 </header>
<main>
    <div class="top"><h2>New Book</h2></div>
        <div class="forms">
         <form action="/books" method="POST">
            <label>Book Title:</label>
              <input type="text" name ="title">
              <label>Author:</label>
              <input type="text" name ="author">
              <label>Genre:</label>
              <input type="text" name ="genre">
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
</main>
</body>
<%- include('../partials/footer') %> 